:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --disc-size: 70px;
    --game-height: 800px;
}

#row-game{
    height: var(--game-height);
}

#gameContainer {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#middleLine {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(107, 104, 104, 0.58);
    top: calc(var(--game-height) / 5 - 25px);
}

#middleLine2 {
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: rgba(30, 30, 30, 0.58);
    top: calc(var(--game-height) / 5 - 3px);
    z-index: 3;
}
#floatingDisc {
    position: absolute;
    bottom: 0;
    width: var(--disc-size);
    height: var(--disc-size);
    border-radius: 50%;
    background-color: var(--blue);
    animation: floatToTop 1.11s linear infinite;
    /*top: calc(var(--game-height)/2 - var(--dics-size)/2);*/
    /*top:40%;*/
    z-index: 2;
}

@keyframes floatToTop {
    0% {
        bottom: 0;
        opacity: 1; /* Ensure the disc is visible at the start */
    }
    100% {
        bottom: calc(100% - var(--disc-size)); /* Move to the top */
        opacity: 1;
    }
}
